:host {
	.m-loading-bar {
		position: absolute;
		top: 66px;
		left: 0;
		right: 0;
		width: 100%;
    z-index: 1023;
	}
	::ng-deep {
		.mat-progress-bar-background {
			opacity: 0;
		}
		.mat-progress-bar-buffer {
			opacity: 0.3;
		}
	}
}
